<div class="map-content">
  <h1 class="title">
    <%= @map.title %>
  </h1>
    <iframe
      width="300" height="300" frameborder="0"
      style="border:0" src="//www.google.com/maps/embed/v1/place?q=Harrods,Brompton%20Rd,%20UK
      &zoom=17
      &key=<%= ENV['API_KEY'] %>" allowfullscreen>
    </iframe>

  <p class="date">
    Submitted <%= time_ago_in_words(@map.created_at) %> | <%= link_to 'edit', edit_map_path %> | <%= link_to 'delete', map_path(@map), method: :delete, data: { confirm: "Are you sure you want to delete this map?"} %>
  </p>

  <p class="description">
    <%= @map.description %>
  </p>
</div>